<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>New Order</title>
</head>
<body>
    <div class="container">
        <h2 style ="text-align: center">New Order</h2>
    
        <div style ="text-align: right">
            <button (click)="saveOrder();" [disabled]="!flag && !edited" class="btn btn-default">Save</button>
            <button (click)="sendOrder();" [disabled]="!flag && !edited" class="btn btn-default">Send</button>
        </div>
        <div>
            <label>client:
              <input [(ngModel)]="client.name" placeholder="..." (ngModelChange)="edited=true"/>
            </label>
        </div>
        <div>
            <label>state: BORRADOR</label>
        </div>
        <div class="table-wrapper">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th style="width: 10%;">
                            <span class="text">Name</span>
                        </th>
                        <th style="width: 5%;">
                            <span class="text">Actions</span>
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="table-scroll" style="text-align: center">
                <table class="table table-condensed">
                    <tbody>
                        <tr *ngFor="let productUsed of fieldArray; let i = index">
                            <td>
                                {{productUsed}}
                            </td>
                            <td>
                                <button class="btn btn-default" type="button" (click)="fieldArray.splice(index,1)">delete</button>    
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 10%">
                                <select class="form-control" id="productsAvailable" name="productsAvailable" [(ngModel)]="newProduct">
                                    <option *ngFor="let product of productsAvailable" [value]="product.name" [selected] = "product._id == newProduct">
                                      {{product.name}}
                                    </option>
                                  </select>
                            </td>
                            <td style="width: 25%">
                                <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
    </div>
</body>
</html>